* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 50px;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.objects {
    width: 900px;
    height: 90px;
}

table, .objects {
    border: 1px solid #494949;

}

td, th {
    padding: 10px 10px;
    border: 1px solid #bebebe;
    text-align: center;
}

th {
    font-size: 18px;
    font-weight: 500;
}

input {
    width: 150px;
    padding: 0 5px;
}

input[type="number"] {
    width: 50px;
}

button {
    width: 100px;
    padding: 5px;
}

button, select, input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.soon {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #bebebe;
}

#submit {
    margin: 25px 0 45px;
    width: 200px;
    background: #fff3e2;
    border: 1px solid #494949;
}


